.input_wrapper{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin-top: 2rem;
    width: 100%;
    position: relative;
}


.calculator_section{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 10vh;
    height: 80vh;
    background-color: black;
}

.button_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 0.5rem;
    width: 90%;
    margin-bottom: 2rem; 
}

#display{
    background-color: white;
    width: 90%;
    height: 3rem;
   
}

#answer_div{
    
    position: absolute;
   
   right: 2rem;
    background-color: aliceblue;
    
}
